#result {
  display: none;
}

h1 {
  /* text-align: center; */
  margin-left: 50px;
  padding-bottom: 20px;
  padding-top: 15px;
  color:  #4c00e6;
  font-family: fantasy;
}
.btn1 {
  background-color:  #4c00e6;
  color: white;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border-radius: 8px;
  padding: 6px 18px;
  margin-left: 50px;
}
input {
  margin-left: 20px;
}
